*{
	margin:0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	list-style: none;
}

.clr {
	clear: both;
}


@font-face {
    font-family: 'Open sans'; 
    src: url(fonts/opensans.ttf); 
}

@font-face {
	font-family: 'Open sans bold';
	src: url(fonts/opensansbold.ttf);
}

@font-face {
	font-family: 'raleway';
	src: url(fonts/raleway.ttf);
}

body{
	background: #f1f2f6;
}

.main {
	margin: 0 auto;
	width: 1000px;
}

.content_bg , header , .user_data{
	background: white;
	border: 1px solid #e5e7ec;
}

header {
	font-family: 'Open sans bold';
	font-size: 14px;
	width: 1000px;
	height: 50px;
}

header ul {
	margin-left: 400px;
	margin-top: 8px;
}

header ul li {
	float: left;
}

header ul li a {
	width: 100px;
	height: 30px;
	display: block;
	text-align: center;
	padding-top: 5px;
	background: #8cc152;
}

header ul li a {
	color: white;
}

header ul li a:last-child{
	margin-left: 2px;
}

.auth {
	color: #656d78;
	margin-right: 20px;
	float: right;
	margin-top: 4px;
}

.user_info {
	width: 780px;
	height: 290px;
	margin:20px auto;
}

.user_info_ul{
	margin:20px;
	width: 350px;
	float: left;
}

.user_info_ul li {
	float: left;
    margin-bottom: 5px;
}

.user_fields,.user_news_ul a , .user_news_block , .user_userediting_block{
	width: 100px;
	height: 30px;
	font-family: 'Open sans bold';
	font-size: 14px;
	color: white;
	background: #8cc152;
	text-align: center;
	padding: 5px;
	display: block;
	float: left;
}

.user_data {
	width: 250px;
	height: 30px;
	font-family: 'raleway';
	padding-left: 10px;
	padding-top: 5px;
	font-size: 14px;
	float: left;
	display: block;
}

.user_ava {
	float: left;
	margin-top: 20px;
    margin-left: 10px;
}

.user_news_bg {
	width: 240px;
	margin-left: 20px;
	float: left;
}

.user_news_ul {
	margin-left: 20px;
}

.user_news_ul a{
	width: 200px;
	height: 30px;
	background: #1dafac;
	margin-bottom: 5px;
	transition: background 0.5s ease;;
}

.user_news_ul a:hover {
	background: #128b86;
	transition: background 0.5s ease;;
}

.user_news_block ,.user_userediting_block {
	height: 25px;
	margin: 20px auto 0px auto;
	width: 100px;
	float: none;
}

.user_userediting_block {
	width: 140px;
	margin: 20px auto 0px auto;
}

.user_news_block_title {
	width: 200px;
	height: 5px;
	display: block;
	margin-left: 20px;
	background: #8cc152;
}

.user_blocked {
	background: #d01111;
	width: 480px;
	height: 70px;
	text-align: center;
	padding: 6px;
	font-size: 50px;
	color: white;
	font-family: 'raleway';
	margin-left: 20px;
    margin-top: 150px;
    position: absolute;
}

.user_must_auth {
	background: #d01111;
	text-align: center;
	padding: 6px;
	font-size: 20px;
	color: white;
	font-family: 'raleway';
	margin:120px 20px 0px 20px;
}